body{
    color: white;
    font-family: monospace;
    text-align: center;
    background-color: rgb(106, 164, 190);
    margin: 200px auto;
    font-size: 30px;
 
   
    
}
h1{
font-size: 45px;

}


#question{
    display: grid;
    width: 306px;
    margin: 50px auto;
    font-family: "Permanent Marker", monospace;
    width: 700px;
    height: 200px;
    box-shadow: 0 0 0 0px #746b6b;
    border: 10px solid #757575;
    cursor: pointer;
    line-height: 50px;
    font-size: 30px;
}
#User{
    color:#29dddd;

}


